*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
}
.carousel-container{
    width: 100%;
}
.carousel-slide{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.rc .img{
    object-fit: cover;
    width: 400px;
    cursor: pointer;
    border: 1px solid grey;
    margin: 5px;
}
.rc .full-img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}