@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --color-primary: #fff;
    --color-secondary: #4285f4;
    --color-secondary-hover: #276ad6;
    --color-shadow: #80808080;
    --color-border-light: #dadce0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    background-color: var(--color-primary);
}
.form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    margin: 0 20px;
    padding: 20px 40px;
    background-color: var(--color-primary);
    box-shadow: 1px 1px 5px var(--color-shadow);
}
legend{
    font-size: 2.5rem;
    font-weight: 600;
}
.form-items{
    width: 100%;
    padding: 40px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form-item{
    border: 0;
    width: 100%;
    height: 50px;
    margin: 10px;
    position: relative;
}
.form-item input{
    border: 0;
    width: 100%;
    height: 100%;
    background: none;
    font-size: .850rem;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    outline: 0;
    border: 1px solid var(--color-border-light);
    border-radius: .5rem;
    z-index: 1;
}
.form-item input:focus{
    border: 1px solid var(--color-secondary);
}
.form-item label{
    position: absolute;
    top: 50%;
    left: 0.8rem;
    font-size: .850rem;
    transform: translateY(-50%);
    background-color: var(--color-primary);
    color: #b4b4b4;
    transition: 300ms;
    font-weight: 400;
    padding: 0 .2rem;
    pointer-events: none;
}
.form-item input:focus ~ label{
    top: 0;
    color: var(--color-secondary);
    font-size: .750rem;
    background-color: var(--color-primary);
    z-index: 1;
    font-weight: 500;
}
.form-item input:valid ~ label{
    top: 0;
    font-size: .750rem;
    background-color: var(--color-primary);
    z-index: 1;
    font-weight: 500;
}
.form-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-buttons .create-account{
    text-decoration: none;
    font-size: .8rem;
    color: var(--color-secondary);
}
.form-buttons .btn{
    display: block;
    padding: .6rem 2rem;
    border: 0;
    background-color: var(--color-secondary);
    font-size: 1rem;
    color: var(--color-primary);
    border-radius: .5rem;
    transition: 300ms;
    cursor: pointer;
}
.form-buttons .btn:hover{
    background-color: var(--color-secondary-hover);
}