@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root{
    --color-primary: #2f5252;

    /*HEADER*/

    --color-header: #117a5e23;
    --color-border-header: #4e7777a4;
    --color-text-header: #2f5252;
    --color-text-light-header: #ffffff;
    --color-menu-hover: #213b3b;

    /*END HEADER*/
    
    /*BODY*/

    --color-border: #4e7777a4;
    --color-text-dark: #2f5252;
    --color-text-light: #effffb;
    --color-shadow: #2f52526c;
    --color-btn: #2f5252;
    --color-btn-hover: #213b3b;
    --color-btn-secondary: rgba(47, 82, 82, 0.9);

    /*END BODY*/

    /*CARD*/

    --color-bg-card: #ffffff54;
    /*END CARD*/
    /*LOAD*/

    --color-load-primary: #f1ffff8e;
    --color-load-secondary: #2b9c9342;
    /*END LOAD*/  
 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
body{
    width: 100%;
    height: 100%;
    background-image: url(../images/background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.btn-card{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-color: var(--color-btn);
    backdrop-filter: blur(5px);
    color: var(--color-text-light);
    border-radius: 10px;
    margin: 10px auto 0 auto;
    transition: 200ms;
}
.btn-card:hover{
    background-color: var(--color-btn-hover);
}