*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
}
#loading-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.loading{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .3);
    border-top-color: #0078e9be;
    animation: spin 1s ease-in-out infinite;
}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}