#projects{
    width: 100%;
    height: auto;
}
#projects h1{
    text-align: center;
    font-size: 1.7rem;
    color: var(--color-text-dark);
}
.cards{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
}
.cards .card{
    width: 300px;
    min-height: 300px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    padding: 20px 20px 0 20px;
    box-shadow: 2px 1px 7px var(--color-shadow);
    backdrop-filter: blur(5px);
    background-color: var(--color-bg-card);
    margin: 10px;
}
.cards .card-header{
    padding: 10px;
}
.cards .card-body{
    font-size: .9rem;
    padding: 10px 0;
}
.cards .card-body .rc{
    width: 100%;
}
.cards .card-body .rc img{
    width: 100%;
    box-shadow: 0px 0px 4px var(--color-shadow);
}
.cards .card-body .rc small{
    display: block;
    text-align: end;
}
.cards .card-body .links{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cards .card-body .links .socials{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.cards .card-body .links .socials a{
    width: 49%;
    background-color: var(--color-btn-secondary);
}
.cards .card-body .links .socials a:nth-child(1):hover{
    background-color: rgb(32, 32, 32);
}
.cards .card-body .links .socials a:nth-child(2):hover{
    background-color: rgb(218, 52, 52);
}


