@media(max-width:950px){
    body{
        min-height: 100vh;
    }
    header{
        width: 100%;
    }
    .top-header{
        width: 100%;
        border-radius: 0;
        z-index: 1;
    }
    .side-bar{
        position: absolute;
        top: -300px;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: auto;
        border: 2px solid var(--color-border-header);
        border-top: 0;
        border-radius: 0 0 50px 50px;
        opacity: 0;
    }
    .top-header{
        border-right: 0;
    }
    .top-header::before,
    .top-header::after{
        transition: width 300ms ease-in-out;
    }
    .top-header::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 1px;
        background-color: var(--color-border-header);
    }
    .top-header::after{
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 1px;
        background-color: var(--color-border-header);
    }
    main{
        width: 100%;
        margin-top: 100px;
        margin-left: 0;
    }
    #landing .content{
        height: calc(100vh - 100px);
    }
    #projects .content{
        height: auto;
    }
    .side-bar .nav-text{
        display: flex;
    }
    #check:checked ~ header .top-header::before,
    #check:checked ~ header .top-header::after{
        width: 30.3%;
    }
    #check:checked ~ header .side-bar{
        height: auto;
        display: flex;
        top: 0;
        transition: top 300ms ease-in-out;
        opacity: 1;
    }
    #check:checked ~ header .side-bar{
        width: max(40%, 200px);
    }
}
@media(max-width:500px){
    #check:checked ~ header .top-header::before,
    #check:checked ~ header .top-header::after{
        width: 0;
    }
}